@import './config';

.button {
	@include button;
	padding: 12px;
}

.button2 {
	@include button;
	margin-left: 42vw;
	margin-top: 15vh;
	margin-bottom: 20vh;
	padding: 20px;
}

.title {
    margin-top: 10vh;
	font-family: 'Kreon', serif;
	text-align: center;
	padding: 10px;
	letter-spacing: 1px;
	font-weight: 400;
}

.text {
    margin-top: 10vh;
	letter-spacing: 1px;
	text-align: center;
}

.form {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	input {
		border: none;
		border-radius: 5px;
		padding: 12px;
		margin: 5px;
	}
}
